<a href="https://colab.research.google.com/github/Prasanna3528/SentimentAnalysis_Project/blob/main/Project_Code_22083075.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
Datafilepath = 'https://raw.githubusercontent.com/Prasanna3528/SentimentAnalysis_Project/refs/heads/main/Womens%20Clothing%20E-Commerce%20Reviews.csv'
Reviews_Data = pd.read_csv(Datafilepath)
print(Reviews_Data.head())

      Id  Clothing ID  Age                              Title  \
0  14746            0   26                                NaN
1  22742            1   50    Love this under-all cami tank ?
2  22743            1   36                       Staple tank!
3  22749            1   24        Love but also very annoying
4    876            2   28  Gorgeous top, straps way too long

                                         Review Text  Rating  Recommended IND  \
0                                                NaN       5                1
1  Originally i bought this in black and white. r...       5                1
2  Love this tank. material and fit are great. lo...       5                1
3  I love this tank, it is so comfortable but it ...       2                0
4  I just adore this top! it is so comfy and styl...       4                1

   Positive Feedback Count Division Name Department Name Class Name
0                        0       General         Jackets  Outerwear
1                        0     Initmates        Intimate   Layering
2                        0     Initmates        Intimate   Layering
3                        1     Initmates        Intimate   Layering
4                        0       General            Tops      Knits

In [2]:
Reviews_Data.describe()

,Id,Clothing ID,Age,Rating,Recommended IND,Positive Feedback Count
count,23486.000000,23486.000000,23486.000000,23486.000000,23486.000000,23486.000000
mean,11742.500000,918.118709,43.198544,4.196032,0.822362,2.535936
std,6779.968547,203.298980,12.279544,1.110031,0.382216,5.702202
min,0.000000,0.000000,18.000000,1.000000,0.000000,0.000000
25%,5871.250000,861.000000,34.000000,4.000000,1.000000,0.000000
50%,11742.500000,936.000000,41.000000,5.000000,1.000000,1.000000
75%,17613.750000,1078.000000,52.000000,5.000000,1.000000,3.000000
max,23485.000000,1205.000000,99.000000,5.000000,1.000000,122.000000

In [3]:
Reviews_Data.isna().sum()

Id                            0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

In [4]:
Reviews_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Id                       23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [5]:
# Fill missing reviews based on rating
Reviews_Data['Review Text'] = Reviews_Data.apply(lambda row: 'Positive review but no comments.' if row['Rating'] >= 4
                             else 'Neutral review but no comments.' if row['Rating'] == 3
                             else 'Negative review but no comments.' if pd.isnull(row['Review Text'])
                             else row['Review Text'], axis=1)

Reviews_Data['Title'] = Reviews_Data.apply(lambda row: 'Positive Feedback' if row['Rating'] >= 4
                             else 'Neutral Feedback.' if row['Rating'] == 3
                             else 'Negative Feedback' if pd.isnull(row['Title'])
                             else row['Title'], axis=1)

In [6]:
Reviews_Data.isna().sum()

Id                          0
Clothing ID                 0
Age                         0
Title                       0
Review Text                 0
Rating                      0
Recommended IND             0
Positive Feedback Count     0
Division Name              14
Department Name            14
Class Name                 14
dtype: int64

In [7]:
# Remove rows where 'Division Name' has null values
PP_Reviews_Data = Reviews_Data.dropna(subset=['Division Name'])

In [8]:
PP_Reviews_Data.isna().sum()

Id                         0
Clothing ID                0
Age                        0
Title                      0
Review Text                0
Rating                     0
Recommended IND            0
Positive Feedback Count    0
Division Name              0
Department Name            0
Class Name                 0
dtype: int64

In [9]:
PP_Reviews_Data.head()

,Id,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,14746,0,26,Positive Feedback,Positive review but no comments.,5,1,0,General,Jackets,Outerwear
1,22742,1,50,Positive Feedback,Positive review but no comments.,5,1,0,Initmates,Intimate,Layering
2,22743,1,36,Positive Feedback,Positive review but no comments.,5,1,0,Initmates,Intimate,Layering
3,22749,1,24,Love but also very annoying,"I love this tank, it is so comfortable but it ...",2,0,1,Initmates,Intimate,Layering
4,876,2,28,Positive Feedback,Positive review but no comments.,4,1,0,General,Tops,Knits

In [10]:
PP_Reviews_Data.shape

(23472, 11)

In [11]:


import pandas as pd
import numpy as np
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

# Download required resources (do this once)
nltk.download('stopwords')
nltk.download('wordnet')


lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

# Define a function to preprocess text
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    # Remove punctuation and numbers
    text = re.sub(r'[^a-z\s]', '', text)
    # Tokenize the text
    words = text.split()
    # Remove stop words and lemmatize
    words = [lemmatizer.lemmatize(word) for word in words if word not in stop_words]
    # Join words back into a single string
    return ' '.join(words)

# Apply preprocessing function to the text column
PP_Reviews_Data['cleaned_text'] = PP_Reviews_Data['Review Text'].apply(preprocess_text)

# Display the DataFrame with the new cleaned text column
PP_Reviews_Data[['Review Text', 'cleaned_text']]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
<ipython-input-11-df0c1bbe44e7>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PP_Reviews_Data['cleaned_text'] = PP_Reviews_Data['Review Text'].apply(preprocess_text)

,Review Text,cleaned_text
0,Positive review but no comments.,positive review comment
1,Positive review but no comments.,positive review comment
2,Positive review but no comments.,positive review comment
3,"I love this tank, it is so comfortable but it ...",love tank comfortable flaw roll every time wal...
4,Positive review but no comments.,positive review comment
...,...,...
23481,Positive review but no comments.,positive review comment
23482,Positive review but no comments.,positive review comment
23483,Positive review but no comments.,positive review comment
23484,Positive review but no comments.,positive review comment
23485,Positive review but no comments.,positive review comment

In [12]:
# Function to determine sentiment
def determine_sentiment(Rating):
    if Rating > 3:
        return "Positive"
    elif Rating == 3:
        return "Neutral"
    else:
        return "Negative"

# Apply function to create the new Sentiment column
PP_Reviews_Data['Sentiment'] = PP_Reviews_Data['Rating'].apply(determine_sentiment)

# Display the updated DataFrame
print(PP_Reviews_Data)

          Id  Clothing ID  Age                        Title  \
0      14746            0   26            Positive Feedback
1      22742            1   50            Positive Feedback
2      22743            1   36            Positive Feedback
3      22749            1   24  Love but also very annoying
4        876            2   28            Positive Feedback
...      ...          ...  ...                          ...
23481  21937         1203   34            Positive Feedback
23482   1178         1204   39            Positive Feedback
23483   1179         1204   39            Positive Feedback
23484  17127         1205   69            Positive Feedback
23485  17139         1205   34            Positive Feedback

                                             Review Text  Rating  \
0                       Positive review but no comments.       5
1                       Positive review but no comments.       5
2                       Positive review but no comments.       5
3      I love this tank, it is so comfortable but it ...       2
4                       Positive review but no comments.       4
...                                                  ...     ...
23481                   Positive review but no comments.       4
23482                   Positive review but no comments.       5
23483                   Positive review but no comments.       4
23484                   Positive review but no comments.       5
23485                   Positive review but no comments.       5

       Recommended IND  Positive Feedback Count   Division Name  \
0                    1                        0         General
1                    1                        0       Initmates
2                    1                        0       Initmates
3                    0                        1       Initmates
4                    1                        0         General
...                ...                      ...             ...
23481                1                        0       Initmates
23482                1                        3  General Petite
23483                1                        0  General Petite
23484                1                        0         General
23485                1                        0         General

      Department Name Class Name  \
0             Jackets  Outerwear
1            Intimate   Layering
2            Intimate   Layering
3            Intimate   Layering
4                Tops      Knits
...               ...        ...
23481        Intimate   Layering
23482         Bottoms      Pants
23483         Bottoms      Pants
23484         Bottoms      Pants
23485         Bottoms      Pants

                                            cleaned_text Sentiment
0                                positive review comment  Positive
1                                positive review comment  Positive
2                                positive review comment  Positive
3      love tank comfortable flaw roll every time wal...  Negative
4                                positive review comment  Positive
...                                                  ...       ...
23481                            positive review comment  Positive
23482                            positive review comment  Positive
23483                            positive review comment  Positive
23484                            positive review comment  Positive
23485                            positive review comment  Positive

[23472 rows x 13 columns]

<ipython-input-12-45a5a7d2c8d1>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PP_Reviews_Data['Sentiment'] = PP_Reviews_Data['Rating'].apply(determine_sentiment)